/* Global Layout Set-up */
:root {
  font-family: 'Merriweather', serif;
  font-size: 13px;

  /* For exceeds grade, technically color changed. Looks better white. */
  background-color: #fdfefe;
}

h1,
li,
legend,
header p,
fieldset,
input,
select,
textarea,
button,
footer {
  display: flex;
}
label {
  color: #495d70;
}
.width {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
h2,
legend {
  margin: 20px auto 15px;
  width: 100%;
  color: #2d3945;
  font-size:  1.4rem;
  font-weight: 900;
}
.container {
  justify-content: center;
  width: 100vw;
  max-width: 600px;
  margin: 0 auto;
}
form {
  width: 100%;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  max-width: 600px;
  margin:0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
}
/* ---------------Header--------------- */
header {
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 3px;
}
h1 {
  text-transform: uppercase;
  color: #fff;
  background-color: #2d3945;
  height: 70px;
  width: 100%;
  margin: 0;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}
header p {
  margin: 0;
  padding-bottom: 40px;
  justify-content: center;
  color: #999;
  line-height: 1.2;
}
header div {
  border-bottom: 4px solid #2d3945;
  margin: 0 auto;
  width: 90%;
  max-width: calc(600px*.9);
}

/* ---------------Form--------------- */

/* Shared form styles */
.border-top {
  border-top: 2px solid #2d3945;
}
.primary,
.secondary {
  padding: 0;
  border: none;
}
legend {
  padding-top: 25px;
  padding-bottom: 5px;
}
label {
  color: #46698b;
  padding-bottom: 5px;
  font-size: 1rem;
}
.primary input,
select,
textarea {
  box-sizing: border-box;
  margin: 5px 0 20px;
  padding: 0 20px;
  height: 50px;
  width: 100%;
  border: none;
  background-color: #eff0f1;
  border-radius: 4px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
  border: 2px solid #46698b;
  outline: none;

  /* for exceeds grade */
  transition: .25s;
  background-color: #ff9800;
  color: #fff;
}

/* .primary styles */
input::placeholder,
textarea::placeholder {
  font-style: italic;
  font-size: 1.1rem;
  color: #ccc;
}
input::placeholder {
  text-align: right;
}
select  {
  color: #ccc;
  font-size: 1rem;
  padding: 0 20px;
}
.darker {
  color: #000;
}
#address-zipcode {
  margin-right: 50%;
  margin-bottom: 30px;
}

/* .secondary styles */
input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
}
input[type=checkbox]:checked + label,
input[type=radio]:checked + label {
  transition: .25s;
  color: #ff9800;
  /* for exceeds grade */
}
.newsletter-block {
  padding-bottom: 10px;
}
.secondary label {
  display: inline-block;
  padding-bottom: 15px;
}
.paddingLeft {
  padding-left: 10px;
}
.secondary label:first-of-type {
  line-height: 1.9;
}
input[type="checkbox"] {
  background-color: #489ff9;
}
textarea {
  margin-top: 0;
  width: 100%;
  height: 100px;
  padding: 15px 20px;
}
button {
  margin-bottom: 30px;
  justify-content: center;
  background-color: #4ebbb5;
  color: white;
  border: none;
  height: 60px;
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: 900;
}
button:active {
  background-color: #307370;
}
/* ---------------Footer--------------- */
footer {
  margin-bottom: 210px;
  justify-content: center;
  font-style: italic;
  color: #999;
}

/* ---------------Media Queries--------------- */
@media (min-width: 768px) {
  .width {
    width: 100%;
  }
  header div {
    width: 600px;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 10px;
  }
  legend {
    padding-top: 45px;
  }
  header h2 {
    font-size: 1.8rem;
  }
  .primary input,
  select,
  textarea {
    margin-bottom: 15px;
  }
  ul li {
    flex-wrap: nowrap;
  }
  .primary ul li:last-of-type {
    margin-bottom: 20px;
  }
  .primary label {
    flex: 1 150px;
    max-width: 150px;
  }
  .primary input,
  .primary select {
    flex: 2 440px;
  }
  #address-zipcode {
    flex: 2;
  }
  .newsletter-block {
    padding-bottom: 15px;
  }
  button {
    margin-bottom: 40px;
  }
}
